@font-face {
    font-family: 'Drunk';
    src: url('drunkfont.otf') format('truetype');
}

html, body {
    height: 100%
    margin: 0;
    padding: 0;
    background-color: #111; /* Full Page Color */
    color: #eee;
    font-family: sans-serif;
    text-align: center;
    display: felx;
    flex-direction: column;
    justify-content: center;
}

selector {
    font-family: 'Drunk', fallback;
}

body {
    font-family: 'Arial', sans-serif;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

#logo {
    max-width: 900
    widht: 80%;
    height: auto;
    margin: 20px auto;
}

p {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    font-size: 16px;
}
